<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.selenium.Listener" />
	</listeners>

	<test thread-count="5" name="HomepageTest">
		<classes>

			<class name="com.selenium.HomePage" />

		</classes>
	</test>

	<test thread-count="5" name="AssertTest">
		<classes>

			<class name="com.selenium.AssertionTest" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
